@charset "UTF-8";
.navbar #logo {
  width: 150px;
}

.navbar button {
  background: none;
  color: #d94744;
  padding: 0;
  margin: 0;
}

.navbar ul {
  margin-top: 5px;
}

.navbar li.nav-item {
  border-right: 1px solid #5f5f5f;
  padding-right: 16px;
  height: 38px;
}

.navbar li.nav-item:last-child {
  border-right: none;
  padding-right: none;
}

.navbar a:hover {
  color: #cc4d4b;
}

.navbar img {
  width: 25px;
}

.navbar i.fa {
  font-size: 1.4em;
}

.navbar i.fa-comments-o {
  margin-top: 4px;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.navbar i.fa-comments-o.none {
  margin-top: 4px;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navbar #dropdown-no-caret::after {
  display: none;
}

.navbar .dropdown-menu {
  padding: 0px;
  height: 250px;
  width: 200px;
  margin-top: 5px;
  overflow-y: scroll;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.navbar .dropdown-menu li {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar .dropdown-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .dropdown-menu li div {
  display: inline-block;
}

.navbar .dropdown-menu li:first-child {
  padding: 5px 8px;
  color: black;
  font-size: 12px;
}

.navbar .dropdown-menu li:first-child a {
  color: #55595c;
}

.navbar .dropdown-menu li:first-child:hover {
  background-color: transparent;
}

.navbar .dropdown-menu li:hover {
  background-color: #eee;
}

.navbar .dropdown-menu i.fa-comment-o {
  color: inherit;
  font-size: 16px;
  margin-left: 5px;
}

.navbar .dropdown-menu i.fa-circle {
  color: lightgreen;
  font-size: 16px;
}

.navbar .dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.navbar .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.125);
}

.navbar .dropdown-menu::-webkit-scrollbar-track {
  background-color: #eee;
}

.test {
  display: none;
}

.welcome-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#banner {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home-banner.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 500px;
  display: table;
}

#banner .banner_content {
  text-align: center;
  padding-top: 350px;
  height: 200px;
}

#banner .banner_content h2.header-tag {
  weight: 700;
  color: white;
  font-size: 3.5em;
  margin: 0;
}

#banner .banner_content p {
  margin: 5px auto;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: white;
}

#banner .banner_content button.btn-global {
  margin: auto;
  background: transparent;
}

#banner .banner_content button.btn-global:hover {
  border: 1px solid white;
}

.callouts-header {
  margin: 50px 0 30px 0;
  text-align: center;
}

#callouts {
  padding: 0px 15px;
  width: 100%;
  min-height: 350px;
}

#callouts .callout {
  text-align: center;
  padding: 1.5rem 2.5%;
  float: left;
}

#callouts .callout i {
  font-size: 2.5em;
  padding-bottom: 10px;
  color: #ddd;
}

#callouts .callout h2 {
  weight: 700;
  color: black;
  margin-bottom: 0;
}

#callouts .callout p {
  color: black;
}

#become_mentor {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/img-PairProgramming-700x400.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/img-PairProgramming-700x400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 400px;
}

#become_mentor h1 {
  padding-top: 100px;
  color: white;
  text-align: center;
}

#become_mentor button.btn-accent {
  margin: 10px auto 0 auto;
  border: none;
}

footer {
  background: #3d3c3c;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

footer p {
  margin: 0;
  font-size: .65rem;
}

@media screen and (max-width: 660px) {
  #banner .banner_content {
    text-align: center;
    padding-top: 200px;
    height: 200px;
  }
}

.learner .search {
  padding-bottom: 15px;
}

.learner input.search-input {
  background-image: url("../images/search.png");
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: right 10px bottom 10px;
}

.learner .list-group-item {
  border: none;
}

.learner label {
  display: block;
}

div.mentor-card {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

div.mentor-card span.mentor-card-name {
  font-size: 1.2em;
  margin-right: 5px;
}

div.mentor-profile div.picture-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div.mentor-profile h3 {
  display: table-cell;
  vertical-align: middle;
}

div.mentor-profile h4.mentor-name {
  margin-left: 10px;
}

div.mentor-profile div.fixed-height {
  height: 250px;
  overflow: auto;
}

div.mentor-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div.mentor-profile button.btn-global {
  margin: 10px 15px;
  width: 215px;
}

div.mentor-profile div.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

div.mentor-profile span.review-date {
  color: #999;
  margin-left: 0px;
}

div.mentor-profile .left-card {
  padding-right: 7.5px;
}

div.mentor-profile .right-card {
  padding-left: 7.5px;
}

div.mentor-profile i.fa {
  margin-left: 5px;
}

.modal-header {
  text-align: right;
  color: #d94744;
}

.edit-modal-button-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.edit-modal-buttons {
  min-width: 150;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #b3b3b3;
}

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-toolbar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: .375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event {
  cursor: pointer;
  padding: 2px 5px;
  background-color: #3D3C3C;
  border-radius: 5px;
  color: #fff;
}

.rbc-event.rbc-selected {
  background-color: #265985;
}

.rbc-event-label {
  font-size: 80%;
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: #000;
  color: white;
  opacity: 0.05;
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}

.rbc-month-view {
  position: relative;
  border: 1px solid #DDD;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  width: 100%;
  height: 100%;
}

.rbc-month-view .rbc-header {
  border-bottom: 1px solid #DDD;
}

.rbc-month-view .rbc-header + .rbc-header {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-month-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.rbc-month-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: hidden;
  height: 100%;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #DDD;
}

.rbc-date-cell {
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  z-index: 4;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: auto;
}

.rbc-agenda-view table {
  width: 100%;
  border: 1px solid #DDD;
}

.rbc-agenda-view table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table tbody > tr > td + td {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-agenda-view table tbody > tr + tr {
  border-top: 1px solid #DDD;
}

.rbc-agenda-view table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  max-height: 100%;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.rbc-day-slot .rbc-event-label {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  -ms-flex: 1 1 0;
  -webkit-box-flex: 1;
          flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-slot {
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  width: 100%;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-day-slot .rbc-event {
  position: absolute;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: #000;
  color: white;
  opacity: .5;
  font-size: 75%;
  padding: 3px;
}

.rbc-time-view {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  width: 100%;
  border: 1px solid #DDD;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  width: 100%;
  position: relative;
}

.rbc-time-view .rbc-row {
  min-height: 20px;
}

.rbc-time-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #DDD;
}

.rbc-time-header > .rbc-row > * + * {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header > .rbc-row > * + * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #DDD;
}

.rbc-time-header .rbc-gutter-cell {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-time-header > .rbc-gutter-cell + * {
  width: 100%;
}

.rbc-time-content {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 1 0 0%;
  -webkit-box-flex: 1;
          flex: 1 0 0%;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  border-top: 2px solid #DDD;
  overflow-y: auto;
}

.rbc-time-content > .rbc-time-gutter {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
}

.dv-star-rating label {
  margin-bottom: 0;
}

.review-form .dv-star-rating i {
  font-size: 1.5em;
}

.welcome-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#become {
  background-image: -webkit-linear-gradient(rgba(235, 235, 255, 0.5), rgba(235, 235, 235, 0.25)), url("../images/MentoringAdmin.jpg");
  background-image: linear-gradient(rgba(235, 235, 255, 0.5), rgba(235, 235, 235, 0.25)), url("../images/MentoringAdmin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 500px;
  margin-top: 60px;
}

#become .become-sub {
  width: 70%;
  padding-top: 100px;
}

#become .sub-header {
  color: black;
  font-size: 3em;
}

#become .become-p {
  color: black;
  font-size: 1.2em;
}

#become button.btn-global {
  background: transparent;
}

#become button.btn-global:hover {
  border: 1px solid white;
}

#become_mentor_action {
  min-height: 300px;
  background: #3d3c3c;
  text-align: center;
}

#become_mentor_action h1 {
  font-weight: 300;
  padding: 50px 0 30px 0;
  color: white;
  width: 80%;
  margin: 0 auto;
}

#become_mentor_action button.btn-accent {
  margin: 0 auto;
  border: 1px solid #d94744;
  width: 200px;
}

#become_mentor_action button.btn-accent:hover {
  border: 1px solid white;
  background: transparent;
  color: white;
}

@media screen and (max-width: 620px) {
  #become_mentor_action {
    min-height: 300px;
    background: #3d3c3c;
    text-align: center;
  }
  #become_mentor_action h1 {
    font-size: 2em;
    font-weight: 300;
    padding: 50px 0 30px 0;
    color: white;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 860px) {
  #become .become-sub {
    width: 90%;
    padding-left: 10%;
    padding-top: 100px;
  }
  #become .sub-header {
    color: black;
    font-size: 2.5em;
  }
  #become .become-p {
    color: black;
    font-size: 1.2em;
  }
  #become button.btn-global {
    background: transparent;
  }
  #become button.btn-global:hover {
    border: 1px solid white;
  }
}

div.loader {
  text-align: center;
}

div.loader i.fa {
  margin-top: 20%;
  color: rgba(0, 0, 0, 0.125);
}

.messages h4 {
  text-align: center;
  margin: 20px 0;
}

.messages td:last-child {
  text-align: right;
}

.messages tr:first-child td {
  border-top: none;
}

.messages tr:hover {
  cursor: pointer;
}

.messages tr:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.messages .table {
  margin-bottom: 0;
}

.conversation .msg-container {
  height: 70vh;
  overflow-y: scroll;
}

.conversation .msg-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.conversation .msg-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 3px;
}

.conversation .msg-container::-webkit-scrollbar-track {
  background-color: #eee;
}

.conversation .msg {
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0 5px;
}

.conversation .msg-time {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.75em;
}

.conversation .left {
  margin: 12px 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.conversation .left .msg {
  background: lightsteelblue;
}

.conversation .right {
  margin: 12px 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.conversation .right .msg {
  background: lightgreen;
}

.conversation #msg-input {
  width: 100%;
  border: none;
  padding: 15px 15px;
}

.conversation .form-group {
  margin-bottom: 0;
}

div.learner-profile .drawer {
  height: 68px;
  overflow: hidden;
}

div.learner-profile h4.activate-account {
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.learner-profile i {
  font-size: 1.8em;
}

div.learner-profile .profile-form {
  margin-top: 20px;
}

div.learner-profile .profile-form .profile-text-area {
  margin-top: 20px;
}

div.learner-profile .profile-form .btn-global {
  margin-top: 20px;
}

div.learner-profile i:hover {
  cursor: pointer;
}

div.learner-profile p.card-text span {
  font-weight: 700;
}

div.learner-profile .show-drawer {
  height: 100%;
}

.media-container, .media-container > video {
  max-width: 100%;
}

.video-login #controls {
  margin-top: -10px;
}

.video-login #controls #preview {
  width: 100%;
  margin: 0 1.5em;
  text-align: left;
}

.video-login #controls #preview h1.sub-header {
  width: 100%;
}

.video-login #controls #preview button.btn-global {
  float: left;
  border-radius: none;
  height: 3em;
  border-radius: 0;
  margin: 0 auto;
}

.video-login #controls #preview button#button-preview {
  height: 3em;
  border-radius: 0;
  margin-top: 0;
  float: right;
  background: #d94744;
  color: white;
  position: relative;
}

.video-login #controls #preview button#button-preview i.fa {
  margin-right: 20px;
  font-size: 15px;
}

.video-login #controls #preview .video-display {
  height: 100vh;
  width: 100%;
}

.video-login #controls .clear::after {
  content: "";
  display: block;
  clear: both;
}

.video-login #controls #invite-controls {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d94744;
}

.video-login #controls #invite-controls p.instructions {
  text-align: center;
  margin-bottom: 1em;
  font-style: oblique;
  font-size: 2em;
  color: #DDD;
}

.video-login #controls #invite-controls button#button-invite {
  color: #d94744;
  background: 0 0;
  border-radius: 0;
  border: 1px solid #d94744;
}

div.chatBox {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  background: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 380px;
  width: 260px;
  z-index: 9999;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

div.chatBox div.utility-bar {
  height: 30px;
  width: 100%;
  background-color: #cc4d4b;
  color: #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.chatBox div.utility-bar span.title {
  padding-left: 8px;
  font-size: 13px;
}

div.chatBox div.utility-bar a .fa {
  color: #eee;
}

div.chatBox div.utility-bar a:visited .fa {
  color: #eee;
}

div.chatBox div.utility-bar i.fa:hover {
  cursor: pointer;
}

div.chatBox div.utility-bar div.icon-container {
  padding-right: 8px;
}

div.chatBox div.utility-bar div.icon-container i.fa-close {
  padding-left: 8px;
}

div.chatBox div.utility-bar div.icon-container i.fa-close:hover {
  cursor: pointer;
}

div.chatBox div.text-window {
  height: 310px;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: keep-all;
}

div.chatBox div.text-window div.left,
div.chatBox div.text-window div.right {
  margin: 4px 0;
}

div.chatBox div.text-window div.msg {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
}

div.chatBox div.text-window div.left {
  text-align: left;
}

div.chatBox div.text-window div.right {
  text-align: right;
}

div.chatBox div.text-window div.left div.msg {
  background-color: #b0dbde;
}

div.chatBox div.text-window div.right div.msg {
  background-color: lightsteelblue;
}

div.chatBox div.text-window span.faux-link {
  color: black;
  text-decoration: underline;
}

div.chatBox div.text-window span.faux-link:hover {
  cursor: pointer;
}

div.chatBox div.text-window::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

div.chatBox div.text-window::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.125);
}

div.chatBox div.text-window::-webkit-scrollbar-track {
  background-color: #eee;
}

div.chatBox div.input-box {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.chatBox div.input-box #msg-input {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 10px 10px;
}

.online-status i.fa-circle {
  color: lightgreen;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  20% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  30% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  40% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  50% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  60% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  70% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  90% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

html, body {
  background-color: #FAFAFA;
  overflow-y: scroll;
}

a, a:visited {
  color: #d94744;
  font-style: none;
}

a:hover {
  color: #fbfbfb;
  text-decoration: none;
}

.message-info {
  padding: 15px;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-color: #d9534f;
  color: #d9534f;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-prompt {
  display: inline-block !important;
}

.spacer30 {
  margin-top: 30px;
}

.spacer50 {
  margin-top: 50px;
}

.spacer80 {
  margin-top: 80px;
}

.spacer-bottom {
  margin-bottom: 100px;
}

.container {
  width: 100%;
}

.inner-btn {
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight: 200;
  display: inline-block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: #d94744;
}

.outter-btn {
  background: #d94744;
  display: inline-block;
  border: 1px solid #d94744;
  padding: 1px;
}

.btn-global {
  padding: 8px 20px;
  display: block;
  border: 1px solid #d94744;
  color: #d94744;
  border-radius: none;
  background: #fff;
}

.btn-global:hover {
  background: #cc4d4b;
  color: #fff;
}

.btn-accent {
  padding: 14px 30px;
  display: block;
  color: #fff;
  border-radius: none;
  background: #d94744;
}

.btn-accent:hover {
  color: #d94744;
  border-radius: none;
  background: #fff;
}

.header-tag {
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  background: #d94744;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.sub-header {
  margin-top: 5px;
  width: 60%;
}

.sub-info {
  font-style: italic;
}

.learner-preferences input.form-control {
  border: 1px solid #eee;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.error-message {
  color: #d9534f;
}

.border-danger {
  border-color: #d9534f;
}

select.form-control.form-muti {
  width: 100%;
  max-height: 60px;
}

.sub-form {
  color: #7e7e7e;
  margin-left: 5px;
}

.redirect {
  padding-top: 10px;
}

.redirect a:hover {
  color: #d94744;
}

span.pills {
  padding: 3px 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 0px 0px 1px rgba(0, 0, 0, 0.02);
  background-color: #f2f2f2;
  margin: 5px;
  border-radius: 2px;
  font-size: 12px;
  float: left;
}

span.pills:nth-child(1) {
  margin-left: 0;
}

button.input-group-btn-custom {
  border-radius: 0;
}

.form-control.radius {
  width: 20px;
  margin-bottom: 10px;
}

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 0px 0px 1px rgba(0, 0, 0, 0.02);
}

textarea.form-control,
input.form-control,
select.form-control {
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 0px 0px 1px rgba(0, 0, 0, 0.02);
  -webkit-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.form-control:hover,
input.form-control:hover,
select.form-control:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0px 0px 1px rgba(0, 0, 0, 0.03);
}

.form-control {
  border: none;
}

.card-header {
  border: none;
  border-radius: none;
  background-color: #f2f2f2;
}

.card-header:first-child {
  border-radius: none;
}

.learner-preferences input.form-control,
.learner-preferences .btn {
  border: 1px solid #eee;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
