@charset "UTF-8";
a, a:visited {
  color: #d94744;
  font-style: none;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

.wrapper {
  min-height: 4000px;
}

.spacer30 {
  margin-top: 30px;
}

.spacer50 {
  margin-top: 50px;
}

.spacer80 {
  margin-top: 80px;
}

.spacer-bottom {
  margin-bottom: 100px;
}

.inner-btn {
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight: 200;
  display: inline-block;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: #d94744;
}

.outter-btn {
  background: #d94744;
  display: inline-block;
  border: 1px solid #d94744;
  padding: 1px;
}

.btn-global {
  padding: 8px 20px;
  display: block;
  border: 1px solid #d94744;
  color: #d94744;
  border-radius: none;
  background: #fff;
}

.btn-global:hover {
  background: #cc4d4b;
  color: #fff;
}

.btn-accent {
  padding: 8px 20px;
  display: block;
  color: #fff;
  border-radius: none;
  background: #d94744;
}

.btn-accent:hover {
  color: #d94744;
  border-radius: none;
  background: #fff;
}

.header-tag {
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  color: white;
  background: #d94744;
  padding: 3px 5px;
  margin-bottom: 5px;
}

.sub-header {
  margin-top: 5px;
  width: 60%;
}

.sub-info {
  font-style: italic;
}

textarea.form-control,
input.form-control,
select.form-control {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea.form-control:focus,
input.form-control:focus,
select.form-control:focus {
  border: 1px solid #55595c;
}

.redirect {
  padding-top: 10px;
}

.redirect a:hover {
  color: #d94744;
}

span.expertise {
  padding: 5px;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 5px;
  font-size: 12px;
  float: left;
}

span.expertise:nth-child(1) {
  margin-left: 0;
}

.navbar {
  background-color: #3d3c3c;
}

.navbar #logo {
  width: 150px;
}

.navbar ul {
  margin-top: 5px;
}

.navbar li.nav-item {
  border-right: 1px solid #5f5f5f;
  padding-right: 16px;
}

.navbar li.nav-item:last-child {
  border-right: none;
  padding-right: none;
}

.navbar img {
  width: 25px;
}

.navbar i.fa {
  font-size: 1.4em;
}

.test {
  display: none;
}

.main-wrapper {
  padding-top: 80px;
}

#banner {
  background-image: url("../images/office-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 500px;
  display: table;
}

#banner .banner_content {
  text-align: center;
  padding-top: 350px;
  height: 200px;
}

#banner .banner_content h2.header-tag {
  weight: 700;
  color: white;
  font-size: 3.5em;
  margin: 0;
}

#banner .banner_content p {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: white;
  margin-bottom: 5px;
}

#banner .banner_content button.btn-global {
  margin: auto;
  background: transparent;
}

#banner .banner_content button.btn-global:hover {
  border: 1px solid white;
}

.callouts-header {
  margin: 50px 0 30px 0;
  text-align: center;
}

#callouts {
  width: 100%;
  min-height: 350px;
}

#callouts .callout {
  text-align: center;
  padding: 1.5rem 2.5%;
  float: left;
}

#callouts .callout i {
  font-size: 2.5em;
  padding-bottom: 10px;
  color: #ddd;
}

#callouts .callout h2 {
  weight: 700;
  color: black;
  margin-bottom: 0;
}

#callouts .callout p {
  color: black;
}

#become_mentor {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/img-PairProgramming-700x400.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/img-PairProgramming-700x400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 400px;
}

#become_mentor h1 {
  padding-top: 100px;
  color: white;
  text-align: center;
}

#become_mentor button.btn-accent {
  margin: 10px auto 0 auto;
  border: none;
}

#become {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/MentoringAdmin.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/MentoringAdmin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 500px;
  margin-top: 60px;
}

#become .become-sub {
  width: 70%;
  padding-top: 100px;
}

#become .sub-header {
  color: black;
  font-size: 3em;
}

#become .become-p {
  color: black;
  font-size: 1.2em;
}

#become button.btn-global {
  background: transparent;
}

#become button.btn-global:hover {
  border: 1px solid white;
}

footer {
  background: #3d3c3c;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

footer p {
  margin: 0;
  font-size: .65rem;
}

.learner .search {
  padding-bottom: 15px;
}

.learner .list-group-item {
  border: none;
}

.learner label {
  display: block;
}

div.mentor-card span.mentor-card-name {
  font-size: 1.2em;
  margin-right: 15px;
}

div.mentor-card span.online-status {
  font-style: italic;
}

div.mentor-card span.online-status > span {
  color: #b3b3b3;
}

div.mentor-card i.fa {
  font-size: 1.2em;
  margin-right: 3px;
}

div.mentor-profile div.fixed-height {
  height: 200px;
}

div.mentor-profile div.card-block {
  display: table;
  width: 100%;
}

div.mentor-profile img.mentor-img,
div.mentor-profile button.btn-global,
div.mentor-profile h4.mentor-name {
  display: table-cell;
  vertical-align: middle;
}

div.mentor-profile button:nth-of-type(n + 1) {
  margin-left: 15px;
}

div.mentor-profile img.mentor-img {
  width: 42px;
}

div.mentor-profile span.review-date {
  color: #999;
  margin-left: 15px;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #b3b3b3;
}

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
}

.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-toolbar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: .375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.rbc-btn-group button + button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}

.rbc-event {
  cursor: pointer;
  padding: 2px 5px;
  background-color: #3D3C3C;
  border-radius: 5px;
  color: #fff;
}

.rbc-event.rbc-selected {
  background-color: #265985;
}

.rbc-event-label {
  font-size: 80%;
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: #000;
  color: white;
  opacity: 0.05;
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}

.rbc-month-view {
  position: relative;
  border: 1px solid #DDD;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  width: 100%;
  height: 100%;
}

.rbc-month-view .rbc-header {
  border-bottom: 1px solid #DDD;
}

.rbc-month-view .rbc-header + .rbc-header {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-month-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.rbc-month-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: hidden;
  height: 100%;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #DDD;
}

.rbc-date-cell {
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  z-index: 4;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: hidden;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
  overflow: auto;
}

.rbc-agenda-view table {
  width: 100%;
  border: 1px solid #DDD;
}

.rbc-agenda-view table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table tbody > tr > td + td {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-agenda-view table tbody > tr + tr {
  border-top: 1px solid #DDD;
}

.rbc-agenda-view table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

.rbc-rtl .rbc-agenda-view table thead > tr > th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  max-height: 100%;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.rbc-day-slot .rbc-event-label {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  -ms-flex: 1 1 0;
  -webkit-box-flex: 1;
          flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-slot {
  -ms-flex: 1 0 0;
  -webkit-box-flex: 1;
          flex: 1 0 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-day-slot .rbc-event {
  position: absolute;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: #000;
  color: white;
  opacity: .5;
  font-size: 75%;
  padding: 3px;
}

.rbc-time-view {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  width: 100%;
  border: 1px solid #DDD;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  width: 100%;
  position: relative;
}

.rbc-time-view .rbc-row {
  min-height: 20px;
}

.rbc-time-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #DDD;
}

.rbc-time-header > .rbc-row > * + * {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-header > .rbc-row > * + * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #DDD;
}

.rbc-time-header .rbc-gutter-cell {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-time-header > .rbc-gutter-cell + * {
  width: 100%;
}

.rbc-time-content {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 1 0 0%;
  -webkit-box-flex: 1;
          flex: 1 0 0%;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  border-top: 2px solid #DDD;
  overflow-y: auto;
}

.rbc-time-content > .rbc-time-gutter {
  -ms-flex: none;
  -webkit-box-flex: 0;
          flex: none;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #DDD;
}

.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}

.rbc-time-content > .rbc-day-slot {
  width: 100%;
}
