#become {

    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                  url("../images/MentoringAdmin.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top center;
    min-height: 500px;
    margin-top:60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

  .become-sub {
    margin: 0 auto;
    width: 60%;
    padding-top:100px;
  }

  .sub-header {
    color:black;
    font-size:3em;
  }

  .become-p {
    color:black;
    font-size:1.2em;
  }

  button.btn-global {
    background: transparent;
    &:hover {
      border: 1px solid white;;
    }
  }

}
