html, body {
  background-color: $secondary-white;
  overflow-y: scroll;
}

a, a:visited {
 color:$accent-red;
 font-style:none;
}

a:hover {
  color:$secondary-white;
  text-decoration: none;
}
.message-info {
  padding: 15px;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-color: $danger-red;
  color: $danger-red;
}
.hide {
  display: none;
}

.spacer30 {
  margin-top:30px;
}

.spacer50 {
  margin-top:50px;
}

.spacer80 {
  margin-top:80px;
}

.spacer-bottom {
  margin-bottom: 100px;
}

.inner-btn {
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight:200;
  display: inline-block;
  border-right: 3px solid $white;
  border-bottom: 3px solid $white;
  color: $accent-red;
}

.outter-btn {
 background: $accent-red;
 display: inline-block;
 border: 1px solid $accent-red;
 padding: 1px;
}

.btn-global {
 padding: 8px 20px;
 display: block;
 border: 1px solid $accent-red;
 color: $accent-red;
 border-radius: none;
 background: $white;
}
.btn-global:hover  {
  background: $accent-darkred;
  color: $white;
}
.btn-accent {
 padding: 14px 30px;
 display: block;
 color: $white;
 border-radius: none;
 background: $accent-red;
}
.btn-accent:hover {
 color: $accent-red;
 border-radius: none;
 background: $white;
}


.header-tag {
 font-weight:normal;
 letter-spacing: 2px;
 text-transform: uppercase;
 display:inline-block;
 color:white;
 background: $accent-red;
 padding:3px 5px;
 margin-bottom:5px;
}

.sub-header {
 margin-top:5px;
 width:60%;
}

.sub-info {
 font-style:italic;
}

.error-message {
  color: $danger-red;
}
.border-danger {
  border-color: $danger-red;
}

textarea.form-control,
input.form-control,
select.form-control {
  border-radius: 0;
  appearance: none;
}

textarea.form-control:focus,
input.form-control:focus,
select.form-control:focus {
  border: 1px solid $input-gray;
}

.redirect {
  padding-top: 10px;

  a:hover {
    color: $accent-red;
  }
}

span.pills {
  padding: 3px 6px;
  border: 1px solid rgba(0,0,0,.125);
  background-color: #f5f5f5;
  margin: 5px;
  border-radius: 0px;
  font-size: 12px;
  float: left;
}

span.pills:nth-child(1) {
  margin-left: 0;
}

button.input-group-btn-custom {
  border-radius: 0;
}

// button.input-group-btn-custom:hover {
//   background: $accent-darkred;
//   color: $white;
// }
