html, body {
  // background-color: $secondary-white;
  background-color: #FAFAFA;
  overflow-y: scroll;
}

a, a:visited {
 color:$accent-red;
 font-style:none;
}

a:hover {
  color:$secondary-white;
  text-decoration: none;
}

.message-info {
  padding: 15px;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-color: $danger-red;
  color: $danger-red;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-prompt {
    display: inline-block !important;
}

.spacer30 {
  margin-top:30px;
}

.spacer50 {
  margin-top:50px;
}

.spacer80 {
  margin-top:80px;
}

.spacer-bottom {
  margin-bottom: 100px;
}
.container {
  width:100%;
}
.inner-btn {
  padding: 10px 15px;
  letter-spacing: 2px;
  font-weight:200;
  display: inline-block;
  border-right: 3px solid $white;
  border-bottom: 3px solid $white;
  color: $accent-red;
}

.outter-btn {
 background: $accent-red;
 display: inline-block;
 border: 1px solid $accent-red;
 padding: 1px;
}

.btn-global {
 padding: 8px 20px;
 display: block;
 border: 1px solid $accent-red;
 color: $accent-red;
 border-radius: none;
 background: $white;
}
.btn-global:hover  {
  background: $accent-darkred;
  color: $white;
}
.btn-accent {
 padding: 14px 30px;
 display: block;
 color: $white;
 border-radius: none;
 background: $accent-red;
}
.btn-accent:hover {
 color: $accent-red;
 border-radius: none;
 background: $white;
}


.header-tag {
 font-weight:normal;
 letter-spacing: 2px;
 text-transform: uppercase;
 display:inline-block;
 color:white;
 background: $accent-red;
 padding:3px 5px;
 margin-bottom:5px;
}

.sub-header {
 margin-top:5px;
 width:60%;
}

.sub-info {
 font-style:italic;
}

// Keep learner preferences input box same
.learner-preferences input.form-control {
  border: 1px solid #eee;
  border-radius: 0;
  appearance: none;
}

.error-message {
  color: $danger-red;
}
.border-danger {
  border-color: $danger-red;
}
select.form-control.form-muti {
  width:100%;
  max-height: 60px;
}

// textarea.form-control,
// input.form-control,
// select.form-control {
//   border-radius: 0;
//   appearance: none;
// }

.sub-form {
  color: #7e7e7e;
  margin-left: 5px;
}

// textarea.form-control:focus,
// input.form-control:focus,
// select.form-control:focus {
//   border: 1px solid $input-gray;
// }


.redirect {
  padding-top: 10px;
  p {
    margin-bottom:2px;
  }

  a:hover {
    color: $accent-red;
  }
}

span.pills {
  padding: 3px 6px;
  // border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
  background-color: #f2f2f2;
  margin: 5px;
  border-radius: 2px;
  font-size: 12px;
  float: left;
}

span.pills:nth-child(1) {
  margin-left: 0;
}

button.input-group-btn-custom {
  border-radius: 0;
}



///////////////
// New adds //
/////////////

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
}

textarea.form-control,
input.form-control,
select.form-control {
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),0 0px 0px 1px rgba(0, 0, 0, 0.02);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

textarea.form-control:hover,
input.form-control:hover,
select.form-control:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 0px 0px 1px rgba(0, 0, 0, 0.03);
}

.form-control {
  border: none;
}

.card-header {
  border: none;
  border-radius: none;
  background-color: #f2f2f2
}

.card-header:first-child {
  border-radius: none;
}

// This is to maintain learner preferences look

.learner-preferences input.form-control,
.learner-preferences .btn {
  border: 1px solid #eee;
  box-shadow: none;
  appearance: none;
}

input[type="checkbox"] {
  filter: grayscale(100%) brightness(1.2);
}
