div.learner-profile {

  .drawer {
    height: 68px;
    transition: height .5s;
  }

  h4.activate-account {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  i {
    font-size: 1.8em;
  }

  i:hover {
    cursor: pointer;
  }

  p.card-text span {
    font-weight: 700;
  }

  .show-drawer {
    height: 200px;
  }

}
