div.learner-profile {

  .drawer {
    height: 68px;
    overflow: hidden;
  }

  h4.activate-account {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  i {
    font-size: 1.8em;
  }
  .profile-form {
    margin-top:20px;
    .profile-text-area {
      margin-top:20px;
    }
    .btn-global {
      margin-top:20px;
    }
  }

  i:hover {
    cursor: pointer;
  }

  p.card-text span {
    font-weight: 700;
  }

  .show-drawer {
    height: 100%;
  }

}
