.learner {

  .search {
    padding-bottom: 15px;
  }

  input {
    // background-image: url('../images/search.png');
    // background-size: 20px auto;
    // background-repeat: no-repeat;
    // background-position: right 5px bottom 10px;
  }

  .list-group-item {
    border: none;
  }

  label {
    display: block;
  }

}
