.learner {

  .search {
    padding-bottom: 15px;
  }

  input.search-input {
    background-image: url('../images/search.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
  }

  .list-group-item {
    border: none;
  }

  label {
    display: block;
  }

}
