div.mentor-profile {

  div.fixed-height {
    height: 200px;
  }

  div.card-block {
    display: table;
    width: 100%;
  }

  // img.mentor-img,
  button.btn-global,
  h4.mentor-name {
    display: table-cell;
    vertical-align: middle;
  }

  button:nth-of-type(n + 1) {
    margin-left: 15px;
  }

  // img.mentor-img { width: 42px; }

  span.review-date {
    color: #999;
    margin-left: 15px;
  }

  .left-card {
    padding-right: 7.5px;
  }

  .right-card {
    padding-left: 7.5px;
  }

}
