.navbar {

  #logo {
    width: 150px;
  }

  button {
    background: none;
    color: $accent-red;
    padding: 0;
    margin: 0;
  }

  ul {
    margin-top: 5px;
  }

  li.nav-item {
      border-right: 1px solid $secondary-graylight;
      padding-right: 16px;
      height: 38px;
  }
  li.nav-item:last-child {
      border-right: none;
      padding-right: none;
  }
  a:hover {
    color:$accent-darkred
  }

  img {
    width: 25px;
  }

  i.fa {
    font-size: 1.4em;
  }

  i.fa-comments-o {
    margin-top: 4px;
  }

  #dropdown-no-caret::after {
    display: none;
  }

  .dropdown-menu {
    padding: 8px;
    height: 250px;
    width: 200px;
    margin-top: 5px;
    overflow-y: scroll;
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);

    li {
      padding: 10px 6px;
      border-bottom: 1px solid $bootstrap-gray;

    }

    li:hover {
      background-color: $bootstrap-gray;
    }

  }

  .dropdown-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: $bootstrap-gray;
  }

  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #eee;
  }

}
