.online-status {

   i.fa-circle {
     color: lightgreen;
     animation: pulse 1s infinite;
   }

 }

 @keyframes pulse {
   0% { transform: scale(1.00); }
   10% { transform: scale(1.01); }
   20% { transform: scale(1.02); }
   30% { transform: scale(1.03); }
   40% { transform: scale(1.04); }
   50% { transform: scale(1.06); }
   60% { transform: scale(1.06); }
   70% { transform: scale(1.04); }
   80% { transform: scale(1.03); }
   90% { transform: scale(1.02); }
   100% { transform: scale(1.01); }
 }
