.test {
  display: none;
}

.welcome-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

//
// .welcome {
//   p {
//     text-align: center;
//   }
// }
// .welcome-banner {
//   z-index: -1;
//   width: 100%;
//   position: absolute;
//   top:0;
//   video {
//     full-video {
//     width:100%;
//     background:black;
//     }
//   }
//   .welcome-sub-text {
//     position: absolute;;
//     top:100;
//   }
//
// }

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 500px;
	display: table;

	.banner_content {
		// display: table-cell;
		// vertical-align: middle;
		text-align: center;
    // float:left;

    padding-top:350px;
    height: 200px;
		h2.header-tag {
			weight: 700;
      color: white;
			font-size: 3.5em;
			margin: 0;
		}
		p {
      margin: 5px auto;
      text-align: center;
      font-weight: 600;
			font-size: 3em;
			color: white;
		}
    button.btn-global {
      margin: auto;
      background: transparent;
      &:hover {
        border: 1px solid white;;
      }
    }
	}
}

.callouts-header {
  margin: 50px 0 30px 0;
      text-align: center;
  .header-tag {

  }
}


#callouts {
  padding: 0px 15px;
	width: 100%;
	min-height: 350px;

	.callout {
		text-align: center;
		padding: 1.5rem 2.5%;
		float: left;
		i {
			font-size: 2.5em;
      padding-bottom: 10px;
			color: #ddd;
		}
		h2 {
			weight: 700;
			color: black;
			margin-bottom: 0;
		}
		p {
			color: black;
		}
	}
}

#become_mentor {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                url("../images/img-PairProgramming-700x400.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
  min-height: 400px;
  h1 {
    padding-top: 100px;
    color: white;
    text-align: center;
  }
  button.btn-accent {
  margin: 10px auto 0 auto;


  border: none;
  }

}


footer {
  background: $secondary-gray;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
footer p {
  margin: 0;
  font-size: .65rem;
}

@media screen and (max-width: 660px) {

  #banner {
  	.banner_content {
  		text-align: center;
      padding-top: 200px;
      height: 200px;

  	}
  }

}
